:root {
    --bg-color: #1e1e24;
    --contrast-color: #fffcf2;
    --primary-color: #d44d5c;
    --secondary-color: #7c99b4;
    --tertiary-color: #d5976b;
    --light-color: #fffcf2;
    --neutral-color: #6d6a71;
    --text-color:var(--bg-color);
}

*{
    box-sizing: border-box;
}

html {
  background-color: var(--bg-color);
  font-family: Arial, sans-serif;
  font-size: large;
}

body {
  margin: 0;
  width: 100%;
  max-width: 100%;
  padding: 0;
  line-height: 1;
  color: var(--contrast-color);
  font-size: 16px;
  font-family: "Exo 2", Exo, Roboto, sans-serif;
}

h1 {
  font-family: "Audiowide", Arial, sans-serif;
  margin: 0;
}

.container{
    background-color: var(--bg-color);
    height: 100vh;
    width: 100%;
}

#nav-bg{
    background-color: var(--contrast-color);
    width: 100vw;
    height: 8rem;
    margin: 0;
    padding: 0;
}

.navigation-bar{
    display: flex;
    flex-wrap: wrap;
    position: sticky;
}

.navigation-bar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0;
    height: 100%;
    width: auto;
    flex-shrink: 0;
}

.navigation-bar ul li{
    height: 100%;
    top: 0;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation-bar a{
    text-decoration: none;
    color: var(--bg-color);
}

.navigation-bar ul li a{
    font-size: 2.0rem;
    font-family: audiowide;
    font-weight: 400;
    text-transform: capitalize;
    margin: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
}

#home-button{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-family: orbitron;
    font-size: 3.5rem;
    font-weight: 900;
    height: 100%;
    margin-right: auto;
    margin-left: 1ch;
    width: fit-content;
    flex-shrink: 0;
}

@media screen and (max-width: 1615px) {
    #nav-bg{
        height: 16rem;
    }
    .navigation-bar ul{
        height: 50%;
    }
    #home-button{
        height: 50%;
    }
}